
.slide-container{
    background-image: url('../../media/aletter_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide{
    background: transparent;
}

.slide h2 {
    font-size: var(--heading-font-size-xl);
}

.slide p{
 font-size: var(--body-font-size-m);
 font-family: var(--body-font-family);   
}

.slide figure video{
    width: 100%;
    height: 100%;
    margin: 1.25rem auto;
    border-color: #00000060;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
}

.reveal-main {
    width: 85rem;
    margin-left: -5rem;
    /*Setting height for reveal/slide component*/
    height: 85vh;
  }
  
  .reveal-one3rd-text {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: left;
    font-size: var(--body-font-size-l);
    line-height: 115%;
  }
  
  .reveal-two3rd-media {
    float: left;
    width: 60%;
    padding: 10px;
  }
  
  .reveal-two3rd-media picture {
    width: 95%;
    height: auto;
  }
  
  .reveal-two3rd-media video {
    width: 100%;
    height: auto;
  }
  
  .reveal-image-caption {
    font-size: 8pt;
    margin-top: 2em;
  }
  
  @media (min-width: 600px) {
    main .section {
      padding: 64px 32px;
    }
  }
  
  /*
  //TODO: To transform the slides mobile responsive
  @media (max-width: 500px) {
    .reveal-main.slides>section{
      display: grid !important;
    }
  
    .reveal-main.slides>section>div{
    display: table-row;
    }
  }
  */

/*
$selectionBackgroundColor: rgba( $linkColor, 0.75 );
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
*/