.hero-animation-black video {
  width: 60rem;
  display: block;
  height: 80vh;
  margin-left: 50%;
  margin-top: calc(-3% - 6em);
  overflow: clip;
}

.hero-animation-black h1 {
  line-height: 1.3;
  font-size: 32px;
  padding-right: 30px;
}

.hero-animation-black-container {
  padding: unset !important;
  margin: unset !important;
  position: relative;
  background-color: black;
  color: white;
}

.hero-animation-black-wrapper {
  margin: unset !important;
  width: 100%;
  max-width: unset !important;
  background-color: black;
}

.video-hero-content {
  width: 30em;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 10em;
  padding-left: 12%;
  padding-bottom: 30px;
  color: var(--text-color-white);
}

.background-fade .video-hero-content {
  background: rgb(0 0 0 / 0%) linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0)) repeat scroll 0% 0%;
}

.hero-animation-black {
  position: relative;
}

.section.black > .default-content-wrapper {
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .button-wrapper {
      flex-direction: column;
      gap: 0;
      width: 85%;
      margin-top: 15px;
  }

  .button-container {
      padding: 0;
      margin: 0;
  }

  .button-wrapper p a.button {
      margin: 0 !important;
      width: 100%;
  }
}

@media (max-width: 400px) {
  .video-hero-content {
    width: 70%;
  }

  .video-hero-content p{
    display: none;
  }    
}