/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    /*
    padding: 32px;
    min-height: 300px;
    */
    padding: 1px;
    min-height: 240px;
}

/*
main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
*/

main .hero h1 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
    align-content: flex-end;
    display: flex;
    padding-left: 48px;
    padding-bottom: 48px;
    padding-top: 7rem;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}