.animation video {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit:cover;
}

.animation-container {
  padding: unset !important;
  margin: unset !important;
  position: relative;
}

.animation-wrapper {
  margin: unset !important;
  width: 100%;
  max-width: unset !important;
}

.animation {
  position: relative;
}

@media (min-width: 1000px) {
  .video-content {
    width: 88%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 12%;
    padding-bottom: 30px;
    color: var(--text-color);
    background-color: #ffffff75;
  }

  .background-fade .video-content {
    background: rgb(0 0 0 / 0%) linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0)) repeat scroll 0% 0%;
  }
}