/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @font-face {
  font-family: "Adobe Clean";
  src: local('adobe-clean-400.woff2');
  font-weight: normal;
  font-style: normal;  
  }

  @font-face {
    font-family: "Adobe Clean";
    src: local('adobe-clean-700.woff2');
    font-weight: 700;
    font-style: normal;  
    }
    
    @font-face {
      font-family: "Adobe Clean";
      src: local('adobe-clean-900.woff2');
      font-weight: 900;
      font-style: normal;  
      }    

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --secondary-link-color: #EB0F00;
  --background-color: #fff;
  --secondary-background-color: #EB0F00;
  --tertiary-background-color: #2C2C2C;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --text-color-white: #fff;

     /* Colors */
     --spectrum-blue: #1473E6;
     --brand-color-purple: #8A8DF3;
     --brand-color-dark-purple: #7473E4;
     --brand-color-pink: #F1BCE7;
     --brand-color-green-yellow: #EBF3A4;
     --highlight-gradient: linear-gradient(75deg, #DB3278, #EE732F);
 
     /* those (background) colors were missing */
     --color-black: #000;
     --color-gray-100: rgb(10% 10% 10%);
     --color-gray-200: rgb(20% 20% 20%);
     --color-gray-500: rgb(50% 50% 50%);
     --color-white: #fff;
     --color-info-accent: inherit;
     --color-info-accent-hover: inherit;
     --color-info-accent-down:inherit;
     --color-info-primary: inherit;
     --color-info-primary-hover: inherit;
     --color-info-primary-down: inherit;
     --color-info-secondary: inherit;
     --color-info-secondary-hover: inherit;
     --color-info-secondary-down: inherit;
     --color-info-accent-reverse: inherit;
     --color-info-accent-reverse-down: inherit;
 
     /* Redesign colors */
     --color-font-grey: #2C2C2C;
     --color-light-grey-600: #686868;
     --color-eyebrow-light-grey: #444;
     --color-eyebrow-highlight: #6870EC;
     --color-accent-blue: #6870EC;
     --color-accent-highlight-yellow: #E3FA8C;
     --color-accent-pink-bg: #F0B2F2;
     --color-accent-pink-content: #88008D;
     --color-accent-purple-bg: #474eb8;
     --color-accent-purple-content: #E2E4FF;
     --color-accent-lightgreen-bg: #E1FA82;
     --color-accent-lightgreen-content: #3B5700;
     --color-accent-yellow-bg: #F5E66B;
     --color-accent-yellow-content: #7F6000;
 
     /* background colors */
     --bg-color-lightgrey: #F8F8F8;
     --bg-color-grey: #E8E8E8;
     --bg-color-grey-2: #D6D6D6;
     --overlay-curtain-bg-color: rgb(0 0 0 / 60%);
     --overlay-curtain-bg-filter: blur(0.05em);
     --code-bg-color: #F1F1F1;


  /* fonts */
  --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 22px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 13px;
  --body-font-size-xxs: 12px;
  --body-font-size-xxxs: 11px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link {
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 1.2em 6px;
  text-align: center;
  font-size: var(--type-body-xs-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-line-height);
  cursor: pointer;
  transition: background-color .3s, color .3s, border .3s;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  height: fit-content;
}

a.button.xlarge:any-link {
  padding: 13px 1.5em;
  border-radius: 27px;
  font-size: var(--type-body-l-size);
}

a.button.large:any-link {
  padding: 8px 1.5em;
  border-radius: 100px;
}

a.button.small:any-link {
  padding: 4px 1em;
  border-radius: 15px;
  font-size: var(--type-body-xxs-size);
}

a.button:any-link,
a.button.accent:any-link,
a.button.primary-cta:any-link {
  color: var(--color-white);
  background-color: var(--color-info-accent);
  border-color: var(--color-info-accent);
}

a.button:any-link:hover,
a.button.accent:any-link:hover,
a.button.primary-cta:any-link:hover {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
}

a.button:any-link:active,
a.button.accent:any-link:active,
a.button.primary-cta:any-link:active {
  background-color: var(--color-info-accent-down);
  border-color: var(--color-info-accent-down);
}

a.button:focus,
a.button.accent:focus,
a.button.primary-cta:focus {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
  color: var(--color-white);

  /* outline: none; */
  box-shadow:
    0 0 0 2px var(--color-white),
    0 0 0 4px var(--color-info-accent-hover);
}

a.button.primary:any-link {
  color: var(--color-white);
  background-color: var(--color-info-primary);
  border-color: var(--color-info-primary);
}

a.button.primary:any-link:hover {
  background-color: var(--color-info-primary-hover);
  border-color: var(--color-info-primary-hover);
}

a.button.primary:any-link:active {
  background-color: var(--color-info-primary-down);
  border-color: var(--color-info-primary-down);
}

a.button.primary:focus,
a.button.primary.reverse:focus {
  background-color: var(--color-info-primary-hover);
  border-color: var(--color-info-primary-hover);
  color: var(--color-white);
}

a.button.secondary:any-link {
  color: var(--color-black);
  background-color: var(--color-info-secondary);
  border-color: var(--color-info-secondary);
}

a.button.secondary:any-link:hover {
  background-color: var(--color-info-secondary-hover);
  border-color: var(--color-info-secondary-hover);
}

a.button.secondary:any-link:active {
  background-color: var(--color-info-secondary-down);
  border-color: var(--color-info-secondary-down);
}

a.button.secondary:focus {
  background-color: var(--color-gray-500);
  border-color: var(--color-gray-500);
  color: var(--color-white);
}

a.button.reverse:any-link {
  color: var(--color-black);
  background-color: var(--color-white);
}

a.button.reverse:any-link:hover {
  background-color: var(--color-info-secondary-hover)
}

a.button.reverse:any-link:active {
  background-color: var(--color-info-secondary-down)
}

a.button.reverse:focus,
a.button.reverse.accent:any-link:focus,
a.button.reverse.primary-cta:any-link:focus {
  background-color: var(--color-info-accent-hover);
  border-color: var(--color-info-accent-hover);
  color: var(--color-white);
}

a.button.reverse.accent:any-link,
a.button.reverse.primary-cta:any-link {
  color: var(--color-info-accent)
}

a.button.reverse.accent:any-link:hover,
a.button.reverse.primary-cta:any-link:hover {
  background-color: var(--color-info-accent-reverse);
}

a.button.reverse.accent:any-link:active,
a.button.reverse.primary-cta:any-link:active {
  background-color: var(--color-info-accent-reverse-down);
}

a.button.dark:any-link {
  color: var(--color-black);
  background-color: var(--color-white);
  border-color: var(--color-white);
}

a.button.dark:any-link:hover {
  color: var(--color-black);
  background-color: var(--color-gray-100);
  border-color: var(--color-gray-100);
}

a.button.dark:any-link:active {
  color: var(--color-black);
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-200);
}

a.button.dark:any-link:focus {
  box-shadow:
    0 0 0 2px var(--color-info-accent),
    0 0 0 4px var(--color-white);
}

a.button.dark.reverse:any-link {
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-white);
}

a.button.dark.reverse:any-link:hover {
  color: var(--color-white);
  background-color: rgb(0 0 0 / 10%);
  border-color: var(--color-gray-100);
}

a.button.dark.reverse:any-link:active {
  color: var(--color-white);
  background-color: rgb(0 0 0 / 20%);
  border-color: var(--color-gray-200);
}

a.button.dark.reverse:any-link:focus {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-info-accent-hover);
}

a.button > svg {
  float: left;
  display: inline;
  width: 20px;
  height: 20px;
  margin: 8px 8px 8px 0;
  fill: currentcolor;
  color: currentcolor;
}

a.button > svg > use {
  fill: currentcolor;
  color: currentcolor;
}

p.button-container > a.button {
  margin-left: 0;
}

/* Redesign button animation */

/* primary button: blue bg */
 a.button:any-link,
main .button {
cursor: pointer;
text-decoration: none;
padding: 5.5px 15px;
text-align: center;
font-size: var(--type-body-xs-size);
line-height: var(--body-line-height);
font-style: normal;
font-weight: 600;
color: var(--color-white);
background: transparent;
border: 2px solid var(--spectrum-blue);
border-radius: 100px;
white-space: nowrap;
text-overflow: ellipsis;
display: inline-block;
position: relative;
height: fit-content;
transition: all 0.3s ease-in-out;
overflow: hidden;
transform: translateZ(0);

/* fix for ios overflow with border-radius not working */
isolation: isolate;
}

main .button {
font-weight: 500;
}

a.button:any-link span {
color: var(--color-white);
transition: all 0.3s ease-in-out;
}

 a.button:any-link:hover,
main .button:hover {
color: var(--spectrum-blue);
border-color: var(--spectrum-blue);
transform: translateZ(0);
}

 a.button:any-link:hover span{
color: var(--spectrum-blue);
}

 a.button:any-link::before,
main .button::before  {
content: '';
position: absolute;
left: -102%;
top: 0;
transition: all 0.3s ease-in-out;
width: 202%;
height: 104%;
z-index: -1;

/* 1st value: hovered color, 2nd value: original color */
background: radial-gradient(circle at left, var(--color-white) 50%, var(--spectrum-blue) 50%);
}

 a.button:any-link:hover::before,
main .button:hover::before {
left: 0%;
}

/* secondary button: grey border transparent bg -> border button */
 a.button.secondary:any-link {
color: var(--color-font-grey);
border-color: var(--color-font-grey);
}

 a.button.secondary:any-link:hover {
color: var(--color-white);
}

 a.button.secondary:any-link::before {
/* 1st value: hovered color, 2nd value: original color */
background: radial-gradient(circle at left, var(--color-font-grey) 50%, transparent 50%);
}

/* .black-border button: black border transparent bg -> border button */
 a.button.black-border:any-link {
color: var(--color-black);
border-color: var(--color-black);
}

 a.button.black-border:any-link:hover {
color: var(--color-white);
}

 a.button.black-border:any-link::before {
/* 1st value: hovered color, 2nd value: original color */
background: radial-gradient(circle at left, rgb(0 0 0 / 50%) 50%, transparent 50%);
}

/* larger size */
 a.button.large:any-link {
font-size: var(--type-body-s-size);
line-height: var(--type-body-s-lh);
}

@media screen and (min-width: 900px) {
 a.button.large:any-link {
    font-size: var(--type-body-m-size);
    line-height: 1.35;
    padding: 8px 20px;
    margin-bottom: 0;
}
}

@media screen and (min-width: 1200px) {
 a.button.large:any-link {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 26px;
}
}

/* ---- button ends ---- */

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 900px) {

  .section>div {
    max-width: 1200px;
    margin: auto;
  }

  /* progressive section appearance */
  main .section[data-section-status='loading'],
  main .section[data-section-status='initialized'] {
    display: none;
  }

  main .section.highlight {
    background-color: var(--highlight-background-color);
  }